<!--<mat-list>
  <mat-list-item >
    <img mat-line mat-list-avatar
         *ngIf="estudiante.fotoURL"
         [src]="estudiante.fotoURL"
         alt="">
    <img mat-line mat-list-avatar
         *ngIf="!estudiante.fotoURL"
         [src]="DEFAULT_PICTURE"
         alt="">
    <span mat-line>{{ estudiante.nombre }}</span>
    <span mat-line>{{ estudiante.ciudad }}</span>
  </mat-list-item>
</mat-list>-->
<mat-list>
  <app-item-estudiante *ngFor="let est of estudiantes"
                    [estudiante]="est"
                    (onMouseOver)="onMouseClick($event)" >
  </app-item-estudiante>
</mat-list>
